<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656767087038-csgmjaf066dtu4feuto9q1fj0uqldin1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656767087038-csgmjaf066dtu4feuto9q1fj0uqldin1</string>
	<key>API_KEY</key>
	<string>AIzaSyCIqeEZ2TtHRg_oHZNimHFt2lu_mvV9YE4</string>
	<key>GCM_SENDER_ID</key>
	<string>656767087038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KainoaPalama.QuartzTimer</string>
	<key>PROJECT_ID</key>
	<string>quartztimer-d5f2c</string>
	<key>STORAGE_BUCKET</key>
	<string>quartztimer-d5f2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656767087038:ios:786338d24406951a</string>
	<key>DATABASE_URL</key>
	<string>https://quartztimer-d5f2c.firebaseio.com</string>
</dict>
</plist>